includes:
    - ../../../phpstan.neon.dist
parameters:
    scanFiles:
        - ../../../config.php
        - ../../../backup/moodle2/restore_format_plugin.class.php
        - ../../../backup/moodle2/restore_plugin.class.php
        - ../../../backup/util/helper/async_helper.class.php
        - ../../../backup/util/structure/restore_path_element.class.php
        - ../../../calendar/lib.php
        - ../../../lib/completionlib.php
        - ../../../lib/filelib.php
        - ../../../lib/formslib.php
        - ../../lib.php
        - ../lib.php
        - format.php
        - lib.php
        - locallib.php
