body.format-multitopic ul.sections {
    list-style: none;
}


/* ADDED */

/* Header */
body.format-multitopic .page-header-headings {
    display: none;
}
body.format-multitopic #course-header {
    width: 100%;
}

/* Hide collapsed sections */
body.format-multitopic ul.sections li.section.section-collapsed .content .section_availability ~ * {
    display: none;
}

/* Hide activity navigation.
Conditional section availability isn't propagated to subsections, so activities may be available when they shouldn't be.
Not sure how to fix this properly,
but we can at least avoid confusing users by pointing them to activities that shouldn't be available. */
body.format-multitopic.path-mod.pagelayout-incourse #page #page-content [role='main'] + .m-t-2.m-b-1,
body.format-multitopic.path-mod.pagelayout-incourse #page #page-content .activity-navigation {
    display: none;
}

/* END ADDED */
